<% content_for :title do %><%= @user.name %> - <%= t 'application.name' %><% end %>
<% content_for :side do %>
  <%= gravatar_image_tag @user.email, 200, :class => 'img-polaroid' %>
<% end %>
<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<%= div_for @tournaments do |tournament| %>
  <%= link_to tournament.name, tournament_path(tournament) %>
  <%= div_for tournament, :class => "plot span9", :style => "height:100px;", :'data-ratings' => tournament.glicko2_ratings.where(:user_id => [current_user.id, @user.id]).map {|rating| {:rating => rating.rating, :rating_deviation => rating.rating_deviation, :user_name => rating.user.name}}.to_json do %><% end %>
<% end %>

<%= page_entries_info @games, :entry_name => 'game' %>
<%= div_for @games, :class => 'media' do |game| %>
  <%= link_to game_path(game), :class => 'pull-left' do %>
    <%= gravatar_image_tag game.game_ranks[0].user.email, 64 %>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to game.versus, game_path(game) %></h4>
    <% if game.confirmed? %>Confirmed<% else %>Unconfirmed<% end %> game for <%= link_to game.tournament.name, tournament_path(game.tournament_id) %> on <%= time_tag game.updated_at %>.
  </div>
<% end %>
<%= paginate @games %>
