<% content_for :title do %><%= @user.name %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= gravatar_image_tag @user.email, 64 %> <%= @user.name %></h1>
</div>

<div class="row">
  <div class="span7">
    <%= div_for @games, :class => 'media' do |game| %>
      <%= link_to game_path(game), :class => 'pull-left' do %>
        <%= gravatar_image_tag game.game_ranks[0].user.email, 64 %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to game.versus, game_path(game) %></h4>
        <% if game.confirmed? %>Confirmed<% else %>Unconfirmed<% end %> game for <%= link_to game.tournament.name, tournament_path(game.tournament_id) %> on <%= time_tag game.updated_at %>.
      </div>
    <% end %>
    <%= paginate @games %>
  </div>

  <div class="span5">
    <%= div_for @tournaments do |tournament| %>
      <div class="clearfix">
        <%= link_to tournament.name, tournament_path(tournament) %>
        <% if current_user != @user %>
          <div class="btn-group pull-right">
            <%= link_to t(Challenge.model_name.human), new_challenge_path(:defender_id => @user, :tournament_id => tournament), :class => tournament.challenges.active.find_by_defender_id(@user.id) ? 'btn disabled' : 'btn' %>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('tournaments.show.log_a_game'), new_game_path(:tournament_id => tournament, :user_id => @user) %></li>
            </ul>
          </div>
        <% end %>
      </div>
      <%= div_for tournament, :class => "plot", :style => "height:100px;", :'data-ratings' => tournament.glicko2_ratings.includes(:user).where(:user_id => [current_user.id, @user.id]).map {|rating| {:rating => rating.rating, :rating_deviation => rating.rating_deviation, :user_name => rating.user.name}}.to_json do %><% end %>
    <% end %>
  </div>
</div>
