<p>This authentication is new to Ladder</p>
<%= form_tag :controller => "sessions", :action => "create" do %>
  <div class="well">
    <h3><%= @authhash[:provider].capitalize %></h3>
    <dl class="dl-horizontal">
      <dt>ID</dt>
      <dd><%= @authhash[:uid] %></dd>
      <dt>Name</dt>
      <dd><%= @authhash[:name] || "Unknown" %></dd>
      <dt>Email</dt>
      <dd><%= @authhash[:email] || "Unknown" %></dd>
    </dl>
    <%= submit_tag "Confirm", :class => 'btn btn-primary' %>
    <%= submit_tag "Cancel", :class => 'btn' %>
  </div>
<% end %>
