<p><%= t '.new_authentication' %></p>
<%= form_tag :controller => "sessions", :action => "create" do %>
  <div class="well">
    <h3><%= @authhash[:provider].humanize %></h3>
    <dl class="dl-horizontal">
      <dt><%= Service.human_attribute_name('uid') %></dt>
      <dd><%= @authhash[:uid] %></dd>
      <dt><%= Service.human_attribute_name('name') %></dt>
      <dd><%= @authhash[:name] || t('.unknown') %></dd>
      <dt><%= Service.human_attribute_name('email') %></dt>
      <dd><%= @authhash[:email] || t('.unknown') %></dd>
    </dl>
    <%= submit_tag t('.confirm'), :class => 'btn btn-primary' %>
    <%= submit_tag t('helpers.cancel_link'), :class => 'btn' %>
  </div>
<% end %>
