<%= form_for [@tournament, @invite] do |f| %>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= cancel_link tournament_path(@tournament) %>
  </div>
<% end %>
