<div class="media">
  <%= link_to profile_path(comment.user), :class => 'pull-left' do %>
    <%= gravatar_image_tag comment.user.email, 64 %>
  <% end %>
  <div class="media-body">
    <h4><%= link_to comment.user.name, profile_path(comment.user) %> <small><%= time_ago_in_words comment.created_at %> ago</small></h4>
    <% if comment.content %>
      <p><%= simple_format comment.content %></p>
    <% end %>
    <% if comment.url %>
      <p><%= sanitize image_tag comment.url, class: 'img-responsive' %></p>
    <% end %>
  </div>
</div>
