<%= form_for @tournament do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <%= f.fields_for :page do |builder| %>
    <div class="form-group">
      <%= builder.label :content, :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_area :content, :rows => 10, :class => 'form-control' %>
      </div>
    </div>
  <% end %>
  <div class="checkbox">
    <label><%= f.check_box :public %> <%= Tournament.human_attribute_name('public') %></label>
  </div>
  <div class="form-group">
    <div class="controls">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= cancel_link tournament_path(@tournament) %>
      <%= delete_link tournament_path(@tournament) %>
    </div>
  </div>
<% end %>

<h4>Games</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody class="table-striped">
<% @challenged_or_unconfirmed_games.each do |game| %>
  <tr>
  <td><%= link_to game.versus, game_path(game) %></td>
  <td><%= game.latest_state.humanize %></td>
  <td><small><%= time_ago_in_words game.created_at %> ago</small></td>
  </tr>
<% end %>
  </tbody>
</table>