<% if @tournament.championships.where(ended_at: nil).none? %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%= t '.championship.title' %></h4>
    <p><%= t '.championship.message' %></p>
    <%= link_to t('.championship.link'), tournament_championship_path(tournament_id: @tournament), :class => 'btn btn-primary', :method => :post %>
  </div>
<% end %>

<%= form_for @tournament do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <%= f.fields_for :page do |builder| %>
    <div class="form-group">
      <%= builder.label :content, :class => 'control-label' %>
      <%= builder.text_area :content, :rows => 10, :class => 'form-control' %>
    </div>
  <% end %>

  <% if @tournament.users.any? %>
    <div class="form-group">
      <%= f.label :owner_id, t("tournament.transfer_ownership"), class: 'control-label' %>
      <%= f.select :owner_id, @tournament.users.collect {|u| [ u.name, u.id ] }, {}, {class: "form-control"} %>
    </div>
  <% end %>

  <div class="checkbox">
    <label><%= f.check_box :public %> <%= Tournament.human_attribute_name('public') %></label>
  </div>
  <div class="form-group">
    <%= f.label :domain, :class => 'control-label' %>
    <%= f.text_field :domain, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <div class="controls">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= cancel_link tournament_path(@tournament) %>
      <%= delete_link tournament_path(@tournament) %>
    </div>
  </div>
<% end %>
