<div class="page-header">
  <h1>Tournaments</h1>
</div>

<div class="row">
  <div class="span6 vertically-spaced">
    <%= link_to new_tournament_path, :class => 'btn btn-block btn-primary' do %>
      <h2><%= glyph :magic %> Start tournament</h2>
      <p>You can only start <%= current_user.tournaments.limit_left %> more</p>
    <% end %>
  </div>
  <%= div_for @tournaments, :class => 'span6 vertically-spaced' do |tournament| %>
    <%= link_to tournament_path(tournament), :class => 'btn btn-block btn-info' do %>
      <h2><%= glyph :list %> <%= tournament.name %></h2>
      <p><%= tournament.glicko2_ratings.count %> ranking players</p>
    <% end %>
  <% end %>
</div>
