<% content_for :title do %><%= t '.feed' %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= current_user.name %></h1>
</div>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to t('.feed'), root_path %></li>
  <li><%= link_to challenges_path do %><%= Challenge.model_name.human.pluralize %> <%= defending_count_badge %><% end %></li>
  <li><%= link_to games_path do %><%= Game.model_name.human.pluralize %> <%= pending_confirmation_badge %><% end %></li>
</ul>

<div class="row">
  <div class="span7">
    <%= div_for @games, :class => 'media' do |game| %>
      <%= link_to game_path(game), :class => 'pull-left' do %>
        <%= gravatar_image_tag game.game_ranks[0].user.email, 64 %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to game.versus, game_path(game) %></h4>
        <% if game.confirmed? %>
          <%= raw t('.confirmed', :tournament => link_to(game.tournament.name, tournament_path(game.tournament_id)), :time => time_tag(game.updated_at)) %>
        <% else %>
          <%= raw t('.unconfirmed', :tournament => link_to(game.tournament.name, tournament_path(game.tournament_id)), :time => time_tag(game.updated_at)) %>
        <% end %>
      </div>
    <% end %>
    <%= paginate @games %>
  </div>

  <div class="span5">
    <h2>Tournaments</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <%= link_to new_tournament_path, :rel => 'tooltip', :title => t('.can_start', :count => current_user.tournaments.limit_left) do %>
          <%= glyph :magic %> <%= t '.start' %>
        <% end %>
      </li>
      <% @tournaments.each do |tournament| %>
        <li>
          <%= link_to tournament_path(tournament) do %>
            <%= glyph :list %> <%= tournament.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
