<h1>Start tournament</h1>

<%= form_for @tournament, :html => {:class => 'form-horizontal'} do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => 'Name' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Start tournament', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', tournaments_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
