<% content_for :title do %><%= t '.title' %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<%= form_for @tournament, :html => {:role => 'form', :class => 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name, :placeholder => Tournament.human_attribute_name('name'), :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ladder, :class => 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :ranking_type, Tournament::RANKING_TYPES.map { |type| [type.to_s.humanize, type] }, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= cancel_link tournaments_path %>
    </div>
  </div>
<% end %>
