<% content_for :title do %><%= t '.title' %> - <%= t 'application.name' %><% end %>

<h1><%= t '.title' %></h1>

<%= form_for @tournament do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name, class: "validate" %>
      <%= f.label :name %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.select :ranking_type, Tournament::RANKING_TYPES.map { |type| [type.to_s.humanize, type] } %>
      <%= f.label :ranking_type %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.submit class: 'btn btn-primary' %>
      <%= cancel_link tournaments_path %>
    </div>
  </div>
<% end %>
