<h1><%= @tournament.name %></h1>

<ul class="nav nav-list">
  <% unless @tournament.has_user? current_user %>
    <li><%= link_to "Join", join_tournament_path(@tournament), :method => :post %></li>
  <% end %>
  <li><%= link_to new_tournament_invite_path(@tournament) do %>Invite player (<%= @tournament.invites.where(:owner_id => current_user).limit_left %> left)<% end %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Rank</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ranks.each do |rank| %>
      <tr>
        <td><%= gravatar_image_tag rank.user.email %> <%= rank.user.name %></td>
        <td><%= number_with_precision rank.rank %></td>
        <td>
          <% if rank.user != current_user && @tournament.has_user?(current_user) %>
            <%= link_to 'Game', new_tournament_game_path(@tournament, :rank_id => rank), :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @tournament.ranks.empty? %>
      <tr colspan="3">
        <td>There are no ranking players.</td>
      </tr>
    <% end %>
  </tbody>
</table>
