<h1><%= @tournament.name %></h1>

<ul class="nav">
  <% unless @tournament.has_user? current_user %>
    <li><%= link_to "Join", join_tournament_path(@tournament), :method => :post %></li>
  <% end %>
  <li><%= link_to "Invite player", new_tournament_invite_path(@tournament) %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <% @tournament.ranks.each do |rank| %>
      <tr>
        <td><%= rank.user.name %></td>
        <td><%= number_with_precision rank.rank %></td>
      </tr>
    <% end %>
    <% if @tournament.ranks.empty? %>
      <tr colspan="2">
        <td>There are no ranking players.</td>
      </tr>
    <% end %>
  </tbody>
</table>
