<div class="page-header">
  <h1><%= @tournament.name %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @glicko2_ratings.each_with_index do |rating, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= gravatar_image_tag rating.user.email %> <%= rating.user.name %></td>
        <td><%= number_with_precision rating.low_rank, :precision => 0 %> - <%= number_with_precision rating.high_rank, :precision => 0 %></td>
        <td>
          <% if rating.user != current_user && @tournament.has_user?(current_user) %>
            <%= link_to 'Game', new_tournament_game_path(@tournament, :user_id => rating.user), :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @tournament.glicko2_ratings.empty? %>
      <tr colspan="3">
        <td>There are no rated players.</td>
      </tr>
    <% end %>
  </tbody>
</table>
