<% content_for :title do %><%= t '.title' %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to t('.notifications'), '#notifications', :'data-toggle' => 'tab' %></li>
  <li><%= link_to Service.model_name.human.pluralize, '#services', :'data-toggle' => 'tab' %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="notifications">
    <%= form_for current_user, :url => setting_path do |f| %>
      <div class="checkbox">
        <label><%= f.check_box :commented_email %> <%= User.human_attribute_name('commented_email') %></label>
      </div>
      <div class="checkbox">
        <label><%= f.check_box :game_confirmed_email %> <%= User.human_attribute_name('game_confirmed_email') %></label>
      </div>
      <div class="form-group">
        <%= f.submit :class => 'btn btn-primary' %>
        <%= cancel_link :back %>
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="services">
    <div class="row">
      <%= div_for @services, :class => 'col-md-6' do |service| %>
        <div class="thumbnail">
          <div class="caption">
            <h3><%= service.provider.humanize %></h3>
            <dl class="dl-horizontal">
              <dt><%= Service.human_attribute_name('uid') %></dt>
              <dd><%= service.uid %></dd>
              <dt><%= Service.human_attribute_name('name') %></dt>
              <dd><%= service.name || t('.unknown') %></dd>
              <dt><%= Service.human_attribute_name('email') %></dt>
              <dd><%= service.email || t('.unknown') %></dd>
            </dl>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
