<div class="media">
  <%= link_to game_path(game), :class => 'pull-left' do %>
    <%= gravatar_image_tag game.game_ranks[0].user.email, 64 %>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to game.versus, game_path(game) %> <small><%= time_ago_in_words game.created_at %> ago</small></h4>
    <p><small><%= Game.model_name.human %> in <%= link_to game.tournament.name, tournament_path(game.tournament) %>.</small></p>
    <ul class="nav nav-stacked">
      <% game.game_ranks.each do |game_rank| %>
        <li><%= glyph game_rank.confirmed? ? 'check' : 'check-empty' %><%= game_rank.position %>. <%= game_rank.user.name %></li>
      <% end %>
    </ul>
  </div>
</div>
