<% content_for :title do %><%= Game.model_name.human.pluralize %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= gravatar_image_tag current_user.email, 64 %> <%= current_user.name %></h1>
</div>

<ul class="nav nav-tabs">
  <li><%= link_to t('tournaments.index.feed'), root_path %></li>
  <li><%= link_to challenges_path do %><%= Challenge.model_name.human.pluralize %> <%= defending_count_badge %><% end %></li>
  <li class="active"><%= link_to games_path do %><%= Game.model_name.human.pluralize %> <%= pending_confirmation_badge %><% end %></li>
</ul>

<% if @pending.any? %>
  <h2><%= t '.pending' %></h2>

  <ul>
    <% @pending.each do |game_rank| %>
      <li><%= link_to "#{game_rank.game.versus}", game_path(game_rank.game) %> on <%= link_to game_rank.game.tournament.name, tournament_path(game_rank.game.tournament) %></li>
    <% end %>
  </ul>
<% end %>

<% if @unconfirmed.any? %>
  <h2><%= t '.unconfirmed' %></h2>

  <ul>
    <% @unconfirmed.each do |game| %>
      <li><%= link_to "#{game.versus}", game_path(game) %> on <%= link_to game.tournament.name, tournament_path(game.tournament) %></li>
    <% end %>
  </ul>
<% end %>
