<% content_for :title do %><%= Game.model_name.human.pluralize %> - <%= t 'application.name' %><% end %>

<% if @pending.any? %>
  <h2><%= t '.pending' %></h2>
  <%= render @pending %>
<% end %>

<% if @unconfirmed.any? %>
  <h2><%= t '.unconfirmed' %></h2>
  <%= render @unconfirmed %>
<% end %>

<% if !@pending.any? && !@unconfirmed.any? %>
  <h2><%= t '.no_pending_or_unconfirmed' %></h2>
  <p><%= t '.no_pending_or_unconfirmed_message' %></p>
<% end %>
