<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<%= form_for @game, :html => {:class => 'form-horizontal'} do |f| %>
  <%= hidden_field_tag 'tournament_id', @game.tournament_id %>
  <div class="control-group<%= " error" if @game.errors[:tournament].any? %>">
    <%= f.label :tournament, :class => 'control-label' %>
    <div class="controls">
      <span class="uneditable-input"><%= @game.tournament.name %></span>
      <% if @game.errors[:tournament].any? %>
        <span class="help-inline"><%= @game.errors[:tournament].to_sentence %></span>
      <% end%>
    </div>
  </div>
  <div class="control-group">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th><%= User.human_attribute_name('name') %></th>
          <th><%= User.human_attribute_name('position') %></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :game_ranks do |builder| %>
          <tr>
            <%= builder.hidden_field :user_id %>
            <td><%= profile_tag builder.object.user %></td>
            <td><%= builder.number_field :position, :class => 'input-mini', :min => 1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= cancel_link tournament_path(@tournament) %>
    </div>
  </div>
<% end %>
