<div class="page-header">
  <h1>New game <small><%= link_to @tournament.name, tournament_path(@tournament) %></small></h1>
</div>

<%= form_for @game, :html => {:class => 'form-horizontal'} do |f| %>
  <%= hidden_field_tag 'tournament_id', @game.tournament_id %>
  <div class="control-group">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Place</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :game_ranks do |builder| %>
          <tr>
            <%= builder.hidden_field :user_id %>
            <td><%= profile_tag builder.object.user %></td>
            <td><%= builder.number_field :position, :class => 'input-mini', :min => 1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Create', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', tournament_path(@tournament), :class => 'btn' %>
    </div>
  </div>
<% end %>
