<div class="page-header">
  <h1><%= @game.versus %> <small><%= link_to @tournament.name, tournament_path(@tournament) %></small></h1>
</div>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Place</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @game_ranks.each do |game_rank| %>
      <tr>
        <td><%= profile_link_tag game_rank.user %></td>
        <td><%= game_rank.position %></td>
        <td>
          <% if game_rank.confirmed? %>
            Confirmed, <%= time_ago_in_words game_rank.confirmed_at %> ago
          <% else %>
            Unconfirmed
          <% end %>
        </td>
        <td>
          <% if !game_rank.confirmed? && game_rank.user == current_user %>
            <%= link_to "Confirm", confirm_tournament_game_path(@tournament, @game), :method => :post, :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
