<h1><small><%= link_to @tournament.name, tournament_path(@tournament) %> /</small> Game on <%= time_tag @game.created_at.to_date %></h1>

<table class="table">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @game_ranks.each do |game_rank| %>
      <tr>
        <td><%= game_rank.position %></td>
        <td><%= game_rank.rank.user.name %></td>
        <td>
          <% if game_rank.confirmed? %>
            Confirmed, <%= time_ago_in_words game_rank.confirmed_at %> ago
          <% else %>
            Unconfirmed
          <% end %>
        </td>
        <td>
          <% if !game_rank.confirmed? && game_rank.user == current_user %>
            <%= link_to "Confirm", confirm_tournament_game_path(@tournament, @game), :method => :post, :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
