<div class="page-header">
  <h1><%= @game.versus %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= Tournament.model_name.human %></dt>
  <dd><%= link_to @tournament.name, tournament_path(@tournament) %></dd>
</dl>

<table class="table table-bordered table-condensed">
  <thead>
    <th><%= User.model_name.human %></th>
    <th><%= GameRank.model_name.human %></th>
    <th><%= t '.status' %></th>
  </thead>
  <tbody>
    <% @game_ranks.each do |game_rank| %>
      <tr>
        <td><%= profile_link_tag game_rank.user %></td>
        <td><%= game_rank.position %></td>
        <td>
          <% if game_rank.confirmed? %>
            <%= t '.confirmed', :time => time_ago_in_words(game_rank.confirmed_at) %>
          <% else %>
            <%= t '.unconfirmed' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for @game do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :comment, :rows => 2, :maxlength => Comment::MAX_LENGTH, :class => 'input-block-level', :placeholder => Comment.model_name.human %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.button :class => 'btn btn-primary' %>
      <% if @current_game_rank && !@current_game_rank.confirmed? %>
        <%= f.button t('.confirm'), :name => 'confirm', :class => 'btn btn-success' %>
      <% end %>
    </div>
  </div>
<% end %>

<% @comments.each do |comment| %>
  <div class="media">
    <%= link_to profile_path(comment.user), :class => 'pull-left' do %>
      <%= gravatar_image_tag comment.user.email, 64 %>
    <% end %>
    <div class="media-body">
      <h4><%= link_to comment.user.name, profile_path(comment.user) %> <small><%= time_ago_in_words comment.created_at %> ago</small></h4>
      <p><%= markdown comment.content %></p>
    </div>
  </div>
<% end %>
