<% if user_logged_in? %>
  <p>Welcome <%= current_user.name %></p>

  <h2>News Feed</h2>
  <%= page_entries_info @games %>
  <%= div_for @games, :class => 'media' do |game| %>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to game.versus, tournament_game_path(game.tournament_id, game) %></h4>
      <% if game.confirmed? %>Confirmed<% else %>Unconfirmed<% end %> game for <%= link_to game.tournament.name, tournament_path(game.tournament_id) %> on <%= time_tag game.updated_at %>.
    </div>
  <% end %>
  <%= paginate @games %>
<% else %>
  <div class="alert alert-info">
    <p class="lead">Create and manage tournaments for pool, foosball or anything. Compete against your friends and colleagues.</p>
    <p><%= link_to "Login to start", session_path, :class => 'btn btn-primary btn-large' %></p>
  </div>
<% end %>
