<h1>Home</h1>

<% if user_logged_in? %>
  <p>Welcome <%= current_user.name %></p>

  <%= page_entries_info @games %>
  <%= div_for @games, :class => 'media' do |game| %>
    <div class="media-body">
      <h4 class="media-heading"><%= game.versus %></h4>
      <% if game.confirmed? %>Confirmed<% else %>Unconfirmed<% end %> game for <%= game.tournament.name %> on <%= time_tag game.updated_at %>.
    </div>
  <% end %>
  <%= paginate @games %>
<% end %>
