<% content_for :title do %><%= Challenge.model_name.human.pluralize %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= profile_tag current_user, 64 %></h1>
</div>

<ul class="nav nav-tabs">
  <li><%= link_to t('tournaments.index.feed'), root_path %></li>
  <li class="active"><%= link_to challenges_path do %><%= Challenge.model_name.human.pluralize %> <%= defending_count_badge %><% end %></li>
  <li><%= link_to games_path do %><%= Game.model_name.human.pluralize %> <%= pending_confirmation_badge %><% end %></li>
</ul>

<% if @defending.any? %>
  <h2><%= t '.defending' %></h2>
  <ul>
    <% @defending.each do |challenge| %>
      <li><%= link_to challenge_path(challenge) do %><%= profile_tag challenge.challenger %><% end %> on <%= link_to challenge.tournament.name, tournament_path(challenge.tournament) %></li>
    <% end %>
  </ul>
<% end %>

<% if @challenging.any? %>
  <h2><%= t '.challenging' %></h2>
  <ul>
    <% @challenging.each do |challenge| %>
      <li><%= link_to challenge_path(challenge) do %><%= profile_tag challenge.defender %><% end %> on <%= link_to challenge.tournament.name, tournament_path(challenge.tournament) %></li>
    <% end %>
  </ul>
<% end %>
