<div class="page-header">
  <h1>New challenge</h1>
</div>

<p>Challenge a player to a game. <%= profile_link_tag @challenge.defender %> will have 7 days to log the result against this challenge or s/he will lose by default.</p>

<%= form_for @challenge, :html => {:class => 'form-horizontal'} do |f| %>
  <%= hidden_field_tag 'tournament_id', @tournament.id %>
  <%= hidden_field_tag 'defender_id', @defender.id %>
  <div class="control-group<%= " error" if @challenge.errors[:tournament].any? %>">
    <%= f.label :tournament, :class => 'control-label' %>
    <div class="controls">
      <span class="uneditable-input"><%= @challenge.tournament.name %></span>
      <% if @challenge.errors[:tournament].any? %>
        <span class="help-inline"><%= @challenge.errors[:tournament].join(', ') %></span>
      <% end%>
    </div>
  </div>
  <div class="control-group<%= " error" if @challenge.errors[:defender].any? %>">
    <%= f.label :defender, :class => 'control-label' %>
    <div class="controls">
      <span class="uneditable-input"><%= profile_tag @challenge.defender %></span>
      <% if @challenge.errors[:defender].any? %>
        <span class="help-inline"><%= @challenge.errors[:defender].join(', ') %></span>
      <% end%>
    </div>
  </div>
  <div class="control-group<%= " error" if @challenge.errors[:message].any? %>">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :rows => 3 %>
      <% if @challenge.errors[:message].any? %>
        <span class="help-inline"><%= @challenge.errors[:message].join(', ') %></span>
      <% end%>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= cancel_link :back %>
    </div>
  </div>
<% end %>
