<% content_for :title do %><%= t '.title' %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<p><%= raw t '.rules', :defender => profile_link_tag(@challenge.defender) %></p>

<%= form_for @challenge, :html => {:class => 'form-horizontal'} do |f| %>
  <%= hidden_field_tag 'tournament_id', @tournament.id %>
  <%= hidden_field_tag 'defender_id', @defender.id %>
  <div class="control-group<%= " error" if @challenge.errors[:tournament].any? %>">
    <%= f.label :tournament, :class => 'control-label' %>
    <div class="controls">
      <span class="uneditable-input"><%= @challenge.tournament.name %></span>
      <% if @challenge.errors[:tournament].any? %>
        <span class="help-inline"><%= @challenge.errors[:tournament].to_sentence %></span>
      <% end%>
    </div>
  </div>
  <div class="control-group<%= " error" if @challenge.errors[:defender].any? %>">
    <%= f.label :defender, :class => 'control-label' %>
    <div class="controls">
      <span class="uneditable-input"><%= profile_tag @challenge.defender %></span>
      <% if @challenge.errors[:defender].any? %>
        <span class="help-inline"><%= @challenge.errors[:defender].to_sentence %></span>
      <% end%>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= cancel_link :back %>
    </div>
  </div>
<% end %>
