<% content_for :title do %><%= t '.title' %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<p><%= raw t '.rules', :defender => profile_link_tag(@defender) %></p>

<%= form_for @game, url: challenges_path do |f| %>
  <%= hidden_field_tag 'tournament_id', @tournament.id %>
  <%= hidden_field_tag 'user_id', @defender.id %>
  <% if @game.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= t '.errors' %>
      </div>
      <ul class="list-group">
        <% @game.errors.full_messages.each do |message| %>
          <li class="list-group-item"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group<%= " has-error" if @game.errors[:tournament].any? %>">
    <%= f.label :tournament, :class => 'control-label' %>
    <p class="form-control-static"><%= @game.tournament.name %></p>
    <% if @game.errors[:tournament].any? %>
      <span class="help-block"><%= @game.errors[:tournament].to_sentence %></span>
    <% end%>
  </div>
  <div class="control-group">
    <div class="controls">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th><%= User.human_attribute_name('name') %></th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :game_ranks do |builder| %>
            <tr>
              <%= builder.hidden_field :player_id %>
              <td><%= profile_tag builder.object.user %><% if builder.object.user == current_user %> <span class="label label-primary"><%= t '.challenger' %></span><% end %><% if builder.object.errors.any? %> <span class="text-danger"><%= builder.object.errors.full_messages.to_sentence %></span><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comment, :class => 'control-label' %>
    <%= f.text_area :comment, :rows => 2, :maxlength => Comment::MAX_LENGTH, :class => 'form-control', :placeholder => Comment.model_name.human %>
  </div>
  <div class="group-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= cancel_link tournament_path(@tournament) %>
  </div>
<% end %>
