<% content_for :title do %><%= @challenge ? @challenge.versus : Challenge.model_name.human.pluralize %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= @challenge.versus %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= Tournament.model_name.human %></dt>
  <dd><%= link_to @tournament.name, tournament_path(@tournament) %></dd>
</dl>

<% if @challenge.message.present? %>
  <blockquote>
    <%= simple_format @challenge.message %>
    <small><%= profile_link_tag @challenge.challenger %></small>
  </blockquote>
<% end %>

<% if @challenge.active? %>
  <p><%= raw t '.rules', :time => time_tag(@challenge.processed_at), :defender => profile_link_tag(@challenge.defender) %></p>

  <% if @challenge.defender == current_user %>
    <%= form_for @challenge, :html => {:class => 'form-inline'} do |f| %>
      <label class="radio inline">
        <%= f.radio_button :response, :won %> <%= t '.won' %>
      </label>
      <label class="radio inline">
        <%= f.radio_button :response, :lost %> <%= t '.lost' %>
      </label>
      <%= f.submit :class => 'btn btn-primary' %>
    <% end %>
  <% end %>

<% else %>
  <p><%= raw t '.responded', :defender => profile_link_tag(@challenge.defender) %></p>
<% end %>
