<% content_for :title do %><%= @challenge ? @challenge.versus : Challenge.model_name.human.pluralize %> - <%= t 'application.name' %><% end %>
<div class="page-header">
  <h1><%= @challenge.versus %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= Tournament.model_name.human %></dt>
  <dd><%= link_to @tournament.name, tournament_path(@tournament) %></dd>
</dl>

<% if @challenge.message.present? %>
  <blockquote>
    <%= simple_format @challenge.message %>
    <small><%= profile_link_tag @challenge.challenger %></small>
  </blockquote>
<% end %>

<% if @challenge.active? %>
  <p><%= raw t '.rules', :time => time_tag(@challenge.processed_at), :defender => profile_link_tag(@challenge.defender) %></p>
<% else %>
  <p><%= raw t '.responded', :defender => profile_link_tag(@challenge.defender) %></p>
<% end %>

<%= form_for @challenge do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :comment, :rows => 2, :maxlength => Comment::MAX_LENGTH, :class => 'input-block-level', :placeholder => Comment.model_name.human %>
    </div>
  </div>
  <% if @challenge.active? && @challenge.defender == current_user %>
    <div class="control-group">
      <div class="controls">
        <label class="radio inline">
          <%= f.radio_button :response, :won %> <%= t '.won' %>
        </label>
        <label class="radio inline">
          <%= f.radio_button :response, :lost %> <%= t '.lost' %>
        </label>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :class => 'btn btn-primary' %>
      <% if @challenge.active? && @challenge.defender == current_user %>
        <%= f.button t('.respond'), :name => 'respond', :class => 'btn btn-success' %>
      <% end %>
    </div>
  </div>
<% end %>
<%= render :partial => 'comments/comment', :collection => @comments %>
