{{#each game in controller}}
  <div class="media">
    <a href="#" class="pull-left"><img {{bindAttr src="game.imageUrl"}}/></a>
    <div class="media-body">
      <h4 class="media-heading"><a href="#">{{game.versus}}</a></h4>
      {{#if game.confirmedAt}}
        Confirmed game for {{#linkTo "tournament" game.tournament}}{{game.tournament.name}}{{/linkTo}} on {{game.createdAt}}.
      {{else}}
        Unconfirmed game for {{#linkTo "tournament" game.tournament}}{{game.tournament.name}}{{/linkTo}} on {{game.createdAt}}.
      {{/if}}
    </div>
  </div>
{{/each}}
