<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('application.name') %></title>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <% if Rails.application.secrets.google_analytics %>
      <%= javascript_tag do -%>
        var _gaq=[['_setAccount','<%= Rails.application.secrets.google_analytics %>'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      <% end -%>
    <% end %>

    <header>
      <ul id="user-menu" class="dropdown-content">
        <li><%= link_to t('settings.show.title'), setting_path %></li>
        <li><%= link_to t('sessions.logout'), logout_path %></li>
      </ul>
      <nav>
        <div class="nav-wrapper container">
          <%= link_to t('application.name'), root_path, class: "brand-logo" %>

          <% if user_logged_in? %>
            <ul class="right hide-on-med-and-down">
              <li><a href="#!" class="dropdown-button" data-activates="user-menu"><%= glyph 'user' %> <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          <% else %>
            <ul class="right hide-on-med-and-down">
              <li class="<%='active' if ['sessions'].include? controller_name %>"><%= link_to t('sessions.login'), session_path %></li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <% if flash[:notice] %>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-info">
                <%= flash[:notice] %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row">
          <% if content_for?(:side) %>
            <div class="col-md-3">
              <%= yield :side %>
            </div>
            <div class="col-md-9">
              <%= yield %>
            </div>
          <% else %>
            <div class="col-md-12">
              <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
          <% end %>
        </div><!--/row-->

      </div> <!-- /container -->
    </main>
    <%= render partial: 'footer' %>
  </body>
</html>
