<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('application.name') %></title>
    <%= csrf_meta_tags %>

    <% if ENV['LADDER_GOOGLE_ANALYTICS'] %>
      <%= javascript_tag do -%>
        var _gaq=[['_setAccount','<%= ENV['LADDER_GOOGLE_ANALYTICS'] %>'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      <% end -%>
    <% end %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body data-current-user="<%= json current_user %>">
    <%= yield %>
  </body>
</html>
