<% content_for :title do %><%= @tournament ? @tournament.name : Tournament.model_name.human.pluralize %> - <%= t 'application.name' %><% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1><%= @tournament.name %></h1>
  </div>

  <% if @tournament.can_join?(current_user) %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= t '.join.title' %></h4>
      <p><%= t '.join.message' %></p>
      <%= link_to t('.join.link'), join_tournament_path(@tournament), :class => 'btn btn-primary', :method => :post %>
    </div>
  <% elsif @tournament.can_request_invite?(current_user) %>
    <div class="alert alert-info">
      <% if @invite_request %>
        <h4><%= t('.request_invite_exists.title') %></h4>
        <p><%= t('.request_invite_exists.message') %></p>
      <% else %>
        <h4><%= t('.request_invite.title') %></h4>
        <p><%= t('.request_invite.message') %></p>
        <p><%= link_to t('tournaments.invite_requests.create.title'), tournament_invite_requests_path(@tournament), :class => 'btn btn-primary', :method => :post %></p>
      <% end %>
    </div>
  <% end %>

  <ul class="nav nav-tabs">
    <li class="<%='active' if ['tournaments'].include?(controller_name) && params['action'] == 'show' %>"><%= link_to t('tournaments.show.title'), tournament_path(@tournament) %></li>
    <% if @player && @tournament.page.present? && @tournament.page.persisted? %>
      <li class="<%='active' if ['tournaments'].include?(controller_name) && params['action'] == 'information' %>"><%= link_to t('tournaments.information.title'), information_tournament_path(@tournament) %></li>
    <% end %>
    <% if @player || @tournament.owner_id == current_user.id %>
      <li class="<%='active' if ['invites'].include? controller_name %>"><%= link_to t('tournaments.invites.new.title'), new_tournament_invite_path(@tournament), :rel => 'tooltip', :title => t('tournaments.invites.new.invites_left', :count => @tournament.invites.where(:owner_id => current_user).limit_left) %></li>
    <% end %>
    <%= link_to_admin(@tournament) %>
  </ul>

  <% if tournament_admin? %>
    <ul class="nav nav-pills">
      <li class="<%='active' if ['tournaments'].include?(controller_name) && params['action'] == 'edit' %>"><%= link_to t('tournaments.edit.title'), edit_tournament_path(@tournament) %></li>
      <li class="<%='active' if ['invite_requests'].include? controller_name %>">
        <%= link_to tournament_invite_requests_path(@tournament) do %><%= t('tournaments.invite_requests.index.title') %> <%= badge(@pending_invite_requests.count) %><% end %>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>

<%= render :template => 'layouts/application' %>
