<% content_for :title do %><%= @tournament ? @tournament.name : Tournament.model_name.human.pluralize %> - <%= t 'application.name' %><% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1><%= @tournament.name %></h1>
  </div>

  <% if not @player %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= t '.join.title' %></h4>
      <p><%= t '.join.message' %></p>
      <%= link_to t('.join.link'), join_tournament_path(@tournament), :class => 'btn btn-primary', :method => :post %>
    </div>
  <% end %>

  <ul class="nav nav-tabs">
    <li class="<%='active' if ['tournaments'].include?(controller_name) && params['action'] == 'show' %>"><%= link_to t('tournaments.show.title'), tournament_path(@tournament) %></li>
    <% if @tournament.page.present? && @tournament.page.persisted? %>
      <li class="<%='active' if ['tournaments'].include?(controller_name) && params['action'] == 'information' %>"><%= link_to t('tournaments.information.title'), information_tournament_path(@tournament) %></li>
    <% end %>
    <% if @player || @tournament.owner_id == current_user.id %>
      <li class="<%='active' if ['invites'].include? controller_name %>"><%= link_to t('tournaments.invites.new.title'), new_tournament_invite_path(@tournament), :rel => 'tooltip', :title => t('tournaments.invites.new.invites_left', :count => @tournament.invites.where(:owner_id => current_user).limit_left) %></li>
    <% end %>
    <% if @tournament.owner_id == current_user.id %>
      <li class="<%='active' if ['tournaments'].include?(controller_name) && params['action'] == 'edit' %>"><%= link_to t('tournaments.edit.title'), edit_tournament_path(@tournament) %></li>
    <% end %>
  </ul>

  <%= yield %>
<% end %>

<%= render :template => 'layouts/application' %>
